@{
    Page.Title = "Title goes here";
    Layout = "_Layout.cshtml";
}

<div>
    <style>
        body {
            background-color: #fff;
        }

        #bar {
            background-color: #91e500;
            color: black;
            position: relative;
            width: 60px;
            height: 10px;
        }

        #demo {
            width: 692px;
            height: 60px;
            background-color: #333;
            padding: 8px;
        }

        #logo {
            position: relative;
            width: 60px;
            height: 60px;
            background: url(img/logo_black.jpg) no-repeat;
        }
    </style>

    Welcome
    <div id="bar"></div>
    <div id="logo" style="background: red;"></div>

    <script>
    // General moving tweens
    //window.onload = function(){
        //var logo = document.getElementById("logo");
        // Move Id=logo left 632px over 4 seconds
        //TweenLite.to(logo, 4, { left: "632px" });
        // Move Id=logo left 440px over 3 seconds and bounce off the end length
        //TweenLite.to(logo, 3, { left: "440px", ease: Bounce.easeOut });
    //}

    //we'll use a window.onload for simplicity, but typically it is best to use either jQuery's $(document).ready() or $(window).load() or cross-browser event listeners so that you're not limited to one.
    window.onload = function () {
        var logo = document.getElementById("logo"),
            bar = document.getElementById("bar");

        TweenLite.to(bar, 2, { width: "692px" });
        TweenLite.to(logo, 2, { left: "632px", delay: 1 });
    }
    </script>
</div>