@{
    Page.Title = "Title goes here";
    Layout = "_Layout.cshtml";
}

<header class="header condensed">
    <div class="site-logo">
        <svg id="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72"></svg>
    </div>
    <h1 class="site-title">
        @*<span class="title-text">Shawn</span>*@
        <span class="sub-title-text"><strong>Designing</strong></span>
    </h1>
</header>

<div class="content-row">
    <article class="article">
        <img class="feature" src="~/images/balloon.jpeg" />
        <h2>Article title here</h2>
        <p>This is some content from an article for this post.</p>
        <h3>Another header that is less important</h3>
        <p>Yet another paragraph of content that is pretty cool.</p>
        <h4>This is one more title</h4>
        <p>Check this out. It is another paragraph. YAY!</p>
        <ul>
            <li>This is a list item</li>
            <li>This is another</li>
            <li>This might be the end</li>
        </ul>
        <h5>The final title</h5>
        <p>
            THE. FINAL. PARAGRAPH. Welcome to the end.
            <q>
                Yet another paragraph of content that is pretty cool.
                <cite>-John Smith</cite>
            </q>
        </p>
    </article>
</div>