@{
    Page.Title = "Title goes here";
    Layout = "_Layout.cshtml";
}

<div class="content-row intro-row">
    <header class="header">
        <div class="site-logo">

            <svg id="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72"></svg>

            <h1 class="site-title">
                <span class="title-text">Shawn</span>
                <span class="sub-title-text">Is <strong>Designing</strong></span>
            </h1>

            @*<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">
                    <style>
                        .st0 {
                            display: none;
                        }

                        .st1 {
                            display: inline;
                            fill: #F04B4B;
                        }

                        .st2 {
                            display: inline;
                            opacity: 0.75;
                        }

                        .st3 {
                            fill: #FFFFFF;
                        }

                        .st4 {
                            fill: #6CCFF6;
                        }

                        .st5 {
                            fill: #223267;
                        }

                        .st6 {
                            fill: #F04B4B;
                        }

                        .st7 {
                            opacity: 0.75;
                        }
                    </style>
                    <g id="crown-logo" class="st0">
                        <path id="crown-center_2_" class="st1" d="M69.7 69.8H2.4L36.1 2.4l33.6 67.4zM36.1 25L18.7 59.6h34.7L36.1 25z" />
                        <g id="crown-left_2_" class="st2">
                            <path class="st3" d="M12.5 26.3v33.3h33.3z" />
                            <path class="st4" d="M2.4 2.4l67.4 67.4H2.4V2.4zm10.1 23.9v33.4h33.4L12.5 26.3z" />
                        </g>
                        <g id="crown-right_2_" class="st2">
                            <path class="st3" d="M26.3 59.6h33.3V26.3z" />
                            <path class="st5" d="M69.7 69.8H2.4L69.7 2.4v67.4zM26.3 59.6h33.4V26.3L26.3 59.6z" />
                        </g>
                    </g>
                    <g id="crown-logo-condensed">
                        <path id="crown-center_3_" class="st6" d="M69.7 69.8H2.4l33.7-13.6 33.6 13.6zm-33.6-10l-7.9-.2H43.9l-7.8.2z" />
                        <g id="crown-left_3_" class="st7">
                            <path class="st3" d="M12.5 66.1l33.3-.1z" />
                            <path class="st4" d="M2.4 56.2l67.4 13.6H2.4V56.2zm10.1 3.4z" />
                        </g>
                        <g id="crown-right_3_" class="st7">
                            <path class="st3" d="M26.3 66l33.3.1z" />
                            <path class="st5" d="M69.7 69.8H2.4l67.4-13.6v13.6h-.1zM26.3 66h33.4-33.4z" />
                        </g>
                    </g>
                </svg>*@

        </div>
    </header>

    <blockquote class="quote">
        <span class="quotation-mark">“</span>Design is so simple. That’s why it’s so complicated.<span class="quotation-mark">”</span> <i>–Paul Rand</i>
    </blockquote>
</div>

<div class="content-row">
    <div class="content-items">

        <ul class="landing-page-list" data-scroll-speed="5">
            <li>
                <div class="list-item" style="height: 350px; background: black;"></div>
            </li>
            <li>
                <div class="list-item" style="height: 400px; background: yellow;"></div>
            </li>
            <li>
                <div class="list-item" style="height: 440px; background: red;"></div>
            </li>
        </ul>
        <ul class="landing-page-list" data-scroll-speed="6">
            <li>
                <div class="list-item" style="height: 420px; background: blue;"></div>
            </li>
            <li>
                <div class="list-item" style="height: 390px; background: green;"></div>
            </li>
            <li>
                <div class="list-item" style="height: 370px; background: purple;"></div>
            </li>
        </ul>

    </div>
</div>

<script src="scripts/list-scrolling.js"></script>