@{
    Page.Title = "Title goes here";
    Layout = "_Layout.cshtml";
}

<div>

    <div class="siteWrap">
        <div class="textMask">

            <!--
                This does not work because the group and paths are specific
            -->

            <svg id="svg" class="textMask__svg">
                <style>
                    .st0 {
                        fill: #FFFFFF;
                    }
                </style>
                <defs>
                    <mask class="textMask__mask" id="mask" x="0" y="0" width="100%" height="100%">
                        <rect class="textMask__alpha" id="alpha" x="0" y="0" width="100%" height="100%" />
                        <g class="textMask__title will-animate" id="title">
                            <path class="st0" d="M.2 55L27.1 1.2s1-2.1 2 0S55.9 55 55.9 55H.2z" />
                            <path class="st0" d="M.2 55V1.2s0-2 2 0S55.9 55 55.9 55H.2z" />
                            <path class="st0" d="M55.9 55V1.2s0-2-2 0C51.9 3.3.2 55 .2 55h55.7z" />
                        </g>
                    </mask>
                </defs>
                <rect class="textMask__base" id="base" x="0" y="0" width="100%" height="100%" />
            </svg>

        </div>
        <h1 id="siteTitle" class="siteTitle will-animate">LX Bridge</h1>
        <button id="replay">
            Replay
        </button>
        <div id="background" class="bgImage" style=""></div>
    </div>

    <script>
        var Intro = function () {

            var
              textMaskAlpha,
              textMaskTitle,
              background,
              body,
              tl,
              svg,
              title,
              replay;

            var _init = function () {
                svg = document.getElementById('svg');
                textMaskAlpha = document.getElementById('alpha');
                textMaskTitle = document.getElementById('title');
                background = document.getElementById('background');
                body = document.getElementsByTagName('body')[0];
                tl = new TimelineLite({ delay: 1 });
                title = document.getElementById('siteTitle');
                replay = document.getElementById('replay');

                _setVisible();
                _animateHero();
                _addEventHandlers();
            }

            var _addEventHandlers = function () {
                replay.addEventListener('click', _play, false);
            }

            var _setVisible = function () {
                TweenLite.set(".will-animate", { visibility: 'visible' });
            }

            var _animateHero = function () {
                tl
                  .to(svg, 0.6, { opacity: 0, scale: 1.5, transformOrigin: '50% 50%', ease: Power1.easeOut })
                  .from(title, 0.6, { scale: 0.5, opacity: 0, transformOrigin: '50% 50%', ease: Back.easeOut }, 0);
            }

            var _play = function () {
                tl.restart({ delay: 0.3 });
            }

            return {
                init: _init
            }
        }();

        Intro.init();
    </script>

</div>