.menu {
    -moz-transition: background .25s ease;
    -o-transition: background .25s ease;
    -webkit-transition: background .25s ease;
    transition: background .25s ease;
    position: fixed;
    z-index: 10;
    top: 2rem;
    right: 2rem;
    display: inline-block;
    margin: 0;
    padding: 0 .8125rem;
    width: 7.5rem;
    height: 3.125rem;
    background: white;
    border-radius: .125rem;

    &:hover {
        background: $grey;
    }
}
.menu-icon {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-top: .9125rem;
    width: 1.75rem;
    height: .1875rem;
    background: $secondary-color;

    &:before {
        content: "";
        position: absolute;
        top: .5rem;
        left: 0;
        display: block;
        width: 1.5rem;
        height: .1875rem;
        background: $primary-color;
    }

    &:after {
        content: "";
        position: absolute;
        top: 1rem;
        left: 0;
        display: block;
        width: 1.25rem;
        height: .1875rem;
        background: $tertiary-color;
    }
}
.menu-label {
    display: inline-block;
    font-family: $sans-serif;
    font-size: 1.25rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 3.25rem;
    color: $primary-color;
}